<ul>
<li><%= link_to("Manage Students", :controller => 'students', :action => 'list')%></li>
<li><%= link_to("Manage Terms", :controller => 'terms', :action => 'list')%></li>
<li><%= link_to("Manage Results", :controller => 'results', :action => 'list')%></li>
<li><%= link_to("Manage Questions", :controller => 'questions', :action => 'list')%></li>
</ul>
